.addPost {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
  background-color: #242526;
}

.addPost__top {
  display: flex;
  border-bottom: 1px solid #3a3b3c;
  padding: 15px;
}

.addPost__top > form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 5px;
}

.addPost__top > form > input {
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: #3a3b3c;
  color: white;
  cursor: pointer;
}

.addPost__top > form > button {
  display: none;
}

.addPost__input {
  flex: 1;
}

.addPost__bottom {
  display: flex;
  justify-content: space-evenly;
}

.addPost__option {
  padding: 10px;
  display: flex;
  align-items: center;
  color: gray;
  margin: 5px;
}

.addPost__option > h3 {
  font-size: medium;
  margin-left: 10px;
  cursor: pointer;
  color: white;
}

.addPost__option:hover {
  background-color: #3a3b3c;
  border-radius: 20px;
}

.addPost__top > form > input:hover {
  background-color: #5E5E5F;
  border-radius: 20px;
}